html{
  position: absolute;
  user-select: none;
  font-size: calc(0.7vw + 0.7vh + 7px);
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; 
  background-color: lightgray; 
}
body {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
}
button{
  font-weight: bold;
  cursor: pointer;
}

.box{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  border-radius: 1rem;
  padding: 1.5rem;
  /*border: 1px solid black;*/
  width: 100%; 
}
#apiControls {
  top: 8%;
  bottom: 50%;
  height: 32%;
  padding: 1rem;
  width: 98.5%;
}
select, option {
  font-weight: bold;
}

#familyGraph{
  position: realtive;
  background-image: url("./assets/TheFamilyWithLastNames.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: lightgray;
  text-align: left;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease;  
}
#graphTitle{
  position: absolute;
  top:0;
  margin: 0.125rem;
  border-radius: 0.25rem;
  padding: 0.125rem;
  border: 1px solid;
  background-color:bisque;
  text-shadow: 0 1px 0 white;
}
#bottomDiv{
  position: absolute;
  top: 50%;
  height: 45%;
  width: 100%;
  text-align: center;
  /*border: 1px solid black;*/
}
.bottomBox{
  position: relative;
  float: left;
  width: 33.2%;
  top: 0;
  height: 100%;
}

#createMemberBox{
  position: relative;
  background-color: lightblue;
}

#createRelationshipBox{
  background-color: lightblue;
}
#addPropertyBox{
  background-color: pink;
}
.apiControls{
  margin: 0.125rem;
  text-align: left;

}

.leftBox{
  position: absolute;
  top: 0;
  width: 49.5%;
  height: 100%;
  left: 0;
  padding: 0.125rem;
  border-radius: 0.125rem;
  background-color: pink;   
}
.rightBox{
  position: absolute;
  top: 0;
  width: 49.5%;
  height: 100%;
  right: 0;
  padding: 0.125rem;
  border-radius: 0.125rem;
  background-color: lightblue;    
}
#overlay{
  position: absolute;  
  visibility: hidden;
  opacity: 0;
  z-index: 4;
  height: 100%;
  width: 100%;
  top: 0;
  text-align: center;
  background-image: url("./assets/TheFamilyWithLastNames.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: lightgray;
  cursor: pointer;
  transition: opacity 0.5s ease
}
.version{
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgb(127, 127, 127);
  z-index: 2;
}

#loginCover{
  position: absolute;
  top: 0;
  overflow: hidden;
  z-index: 3;
  height: 100%;
  width: 100vw;
  background-color: lightgray;
}
#passwordForm{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid;
  font-size: 1.25rem;
  background-color: gray;
  color: white;
}
#passwordForm input{
  font-size: 1.25rem;
}

#btnShowBigGraph {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  z-index: 4;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: gray;
  color: white;
}

/************MENU STYLE****************/
#menuCover{
  position: relative;
  top: 0;
  right: 0;
	display: grid;
	place-content: center;
  height: 7vh;
  width: 7vh;
  margin: 1% 1%;
  border: 1px solid black;
  z-index: 4;
}
#burgerHolder{
  position: absolute;
  /*
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  */
  height: 90%;
  width: 90%;
  border: 1px solid green;
  z-index: 3;
}
#middleBurger{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.15vh;
  width: 100%;
  background-color: black;
}