html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
}
body{
    box-sizing: border-box;
}
#apiControls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 1rem;
  padding: 1.5rem;
  border: 1px solid black;
  width: 85vw;
}