html{
  user-select: none;
  font-size: calc(0.7vw + 0.7vh + 7px);
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; 
    background-color: lightgray; 
}
body{
    box-sizing: border-box;
    position: relative;
    text-align: center;
    font-family: sans-serif; 
}
.box{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  border-radius: 1rem;
  padding: 1.5rem;
  border: 1px solid black;
  width: 100%;
 
}
#apiControls {
  top: 8%;
  /*bottom: 50%;*/
  height: 30%;
  padding: 1rem;
  width: 98%;
}
select, option {
  font-weight: bold;
}

#familyGraph{
  top: 45%;
  height: 55%;
  text-align: center;
  background-image: url("./assets/TheFamilyWithLastNames.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: lightgray;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease;
  
}
.apiControls{
  margin: 0.125rem;
  text-align: left;
}

.leftBox{
  position: absolute;
  top: 0;
  width: 49.5%;
  height: 100%;
  left: 0;
  padding: 0.125rem;
  border-radius: 0.125rem;
  background-color: pink;   
}
.rightBox{
  position: absolute;
  top: 0;
  width: 49.5%;
  height: 100%;
  right: 0;
  padding: 0.125rem;
  border-radius: 0.125rem;
  background-color: lightblue;    
}
#overlay{
  position: absolute;  
  visibility: hidden;
  opacity: 1;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  text-align: center;
  background-image: url("./assets/TheFamilyWithLastNames.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: lightgray;
  cursor: pointer;
  transition: opacity 0.5s ease
}
.version{
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgb(127, 127, 127);
  z-index: 2;
}